{% if session.user_id %}

{% extends "home_layout.html" %}
{% block content %}
{% if lots %}
<div class="container">
<h1 class="text-center">Parkkipaikkoja</h1>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  {% for lot in lots %}
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">{{ lot[6] }}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{ lot[4] }} €</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>{{ lot[7] }} </li>
          <li>Omistaja {{ lot[1] }}</li>
          <li> {{ lot[3] }}</li>
          <li></li>
        </ul>
        {% if lot[5] == session.user_id %}
          <a href="/stop_using/{{ lot[0] }}" class="btn w-100 btn btn-lg btn-outline-primary">Lopeta käyttö</a>
        {% endif %}
        {% if lot[2] == 0 %}
          <a href="/book/{{ lot[0] }}" class="btn w-100 btn btn-lg btn-outline-primary">Varaa käyttöön</a>
        {% endif %}
        <a href="/comment/{{ lot[0] }}" class="btn w-100 btn btn-lg btn-outline-primary">Kommentoi parkkipaikka</a>
        <a href="/read_comments/{{ lot[0] }}" class="btn w-100 btn btn-lg btn-outline-primary">Lue kommentteja</a>
        <a href="/new_stars/{{ lot[0] }}" class="btn w-100 btn btn-lg btn-outline-primary">Anna tähtiä</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% else %}
<h1 class="display-4">Ei yhtään varattaavaa parkkipaikkaa</h1>
{% endif %}
{% endblock %}

{% endif %}
