{% if session.user_id %}
<p>Moi {{ session.username }}! Tervetuloa käyttämään parkkeeraussovellusta</p>
<a href="/logout">Kirjaudu ulos</a>
<hr>
<a href="/add_parkinglot">Lisää parkkipaikka</a>
<hr>
<a href="/control">Hallitse omia parkkipaikkoja</a>
<hr>

<p>Parkkipaikkoja:</p>
<ol type="1">
{% for lot in lots %}
<li>
<p>Myyjä: {{ lot[1] }}</p>
<p>Kuvaus: {{ lot[3] }}</p>
{% if lot[2] == 0 %}
<p>Paikka vapaana</p>
<a href="/book/{{ lot[0] }}">Varaa käyttöön</a>
{% else %}
<p>Paikka varattu</p>
{% if lot[5] == session.user_id %}
<a href="/stop_using/{{ lot[0] }}">Lopeta käyttö</a>
{% endif %}
{% endif %}
<p>Hinta: {{ lot[4] }}</p>
</li>
<br>
{% endfor %}
</ol>

{% endif %}
