{% extends "login_layout.html" %}
{% if session.user_id != 0 %}
{% block content %}
{% if message %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% endif %}
<form action="/login" method="POST">
    <h2 class="text-center">Kirjaudu sisään</h2>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Käyttäjätunnus" required="required" name="username"> 
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Salasana" required="required" name="password">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Kirjaudu sisään</button>
    </div>
    <hr>
    <p class="text-center">Minulla ei ole vielä käyttäjätunnusta?</p>
</form>
<p class="text-center"><a href="/new_user">Luo käyttäkätunnus</a></p>
{% endblock %}
{% endif %}